body
{
font-family: 'Lato', sans-serif;
overflow: hidden;
/*background-image:url('../images/home.jpg');*/
background: no-repeat fixed top;
background-size: cover; 
}

html
{
	overflow: hidden;
}
#aboutme{
	font-size: 18px !important;
}


@media (max-width: 991px) {
	#home .inner-container .side-container{
		display: none;
	}
	.right-then-center
	{
		text-align: center;
	}
	.left-then-center
	{
		text-align: center;
	}


	.smaller
	{
		text-align: center;
	}
	.smaller
	{
		color: black;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		margin-left: 3px !important;
		margin-right: 3px !important;
	}
	.smaller i
	{
		
		margin-right: 30px !important;
		margin-left: 30px !important;
		
	}
	#home .arrows
	{
		display: none;
	}
	.side-container{
		height: auto !important;
	}

	.arrows{
		text-align: center;
	}

	#text{
	    text-align: center;
	   /* position: relative;*/
	   /* top: 40%;*/
	}
	.main-container
	{
		position:fixed;
		top:0;
	/*    		bottom:0;*/
		left:0;
		width: 100%;
	}

	#info-bar{
		display: none;
	}

	.more-info
	{
		font-size: 20px !important;
	}

}
@media (min-width: 992px) {
	#smaller-info
	{
		display: none;
	}
	.smaller{
		display: none;
	}
	.right-then-center
	{
		text-align: right;
	}
	.left-then-center
	{
		text-align: left;
	}
	.arrows
	{
		text-align: center;
		width: 100%;
		height: 100%;
		vertical-align: middle;	
	    margin-bottom: 5px;
	}
	.side{
	    text-align: center;
	    position: relative;
	    top: 40%;
		/*display:flex;*/
		/*align-items: center;*/
	}

	.main-container
	{
		position:fixed;
		top:0;
	/*    		bottom:0;*/
		left:0;
		width: 100%;
	}

	#text{
	    text-align: center;
	    position: relative;
	    top: 40%;
	}
	#info-bar{
	    background-color: rgba(100,100,100,1);
	    width:100% !important;
	    height:10%;
	    
	}
	.more-info {
		float: right;
	}
	.white
	{
		color: white !important;
	}

}

.white
{
	color: white !important;
}    

.inner-container
{
	width:100% !important;
	height:90%;
	/*background-color:yellow;*/
}
.small-container
{
	width:100%;
	height:10%;
	/*background-color:blue;*/

}
.content-container
{
	width:100%;
	height:90%;
	/*background-color:green;*/
}
.side-container
{
	/*background-color:red;*/
	/*position: fixed;
	bottom: 0;*/
	height: 100%;
}
.main-main-container
{
	height: 100%;
	/*background-color: white;*/
}
.label
{
    font-size: 18px !important;
    color: black;
}
#contactmeat {
  text-align: center; 
 /* background-color: white;*/
 /* width: 50px;
 *   height: 50px;*/
}
#contactmeat li{
  display: inline-block;
  text-align: center; 
 /* background-color: white;*/
 /* width: 50px;
 *   height: 50px;*/
}
#contactmeat li a{
 /* color:#ee8811;*/
 color: rgba(33,33,33,0.8);
  font-size: 30px;
  vertical-align: central;
  text-align: center; 
  margin: 20px;
}
#infoicons li{
  display: inline-block;
 /* background-color: white;*/
 /* width: 50px;
 *   height: 50px;*/
}
.white{
	color: rgba(33,33,33,0.8);
}

#infoicons li a{
 /* color:#ee8811;*/
 color: rgba(33,33,33,0.8);
  font-size: 30px;
  vertical-align: central;
  text-align: center; 
  margin: 20px;
}

.box {
	min-height: 120px;
}
.skillslist > li
{
	font-size: 20px !important;
}
.skillslist, .skillslist ul
{
	list-style-type: none;
}
.skillslist > li > i{
  float: right;
}
.skillslist > ul >li
{
  width: 100%;
  font-size: 20px !important;
}
.skillslist > li > span{
  float: right;
  color: rgba(33,33,33,0.8)
  }

li > span{
  float: right;
  color: rgba(33,33,33,0.8)
  }

.key > li
{
  display:inline-block;
}
.extra_stuff{
	list-style-type: none;
}
.extra_stuff li{
	font-size: 17px !important;
	text-align: center;
}
.heading {
	margin-top: 50px;
	text-align: center;
}
.moreinfos li{
	text-align:center
}

.moreinfos{
	display: none;
}

#tagline
{
	font-size:25px !important;
}
#infoicons{
	text-align: center;
}

.center
{
	text-align: center;
}

@media (max-width: 401px ){
	.smaller
	{
		color: black;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		margin-left: 3px !important;
		margin-right: 3px !important;
	}
	.smaller .fa-angle-left
	{

		margin-right: 20px !important;
		margin-left: 0px !important;

	}
	.smaller .fa-angle-right
	{

		margin-right: 0px !important;
		margin-left: 20px !important;

	}
	.moreinfos{
		font-size: 15px !important;
	}
	#infoicons{
		margin-left:-81px;
	}

}

.main-container{
	background-color: rgba(255,255,255,0.85) !important;
}
#home{
	background-color: rgba(255,255,255,0.775) !important;
}

@media (max-width: 990px ){
	.holderoftext{
		font-size:5em !important;
	}
}
@media (min-width: 991px ){
	.holderoftext{
		font-size:13em !important;
	}
}
@media (min-width: 1230px ){
	.holderoftext{
		font-size:18em !important;
	}
}

.inverse
{
	background-color: rgba(255,255,255,0.85) !important;
}

/*a{
	color: #555!important;
}*/

